* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: calc(1em + 1vh);
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 0.9rem;
    font-weight: 400;
}

h2 {
    font-size: 1rem;
    font-weight: 400;
}

p, li {
    font-size: 0.7rem;
    font-weight: 300;
}

.navbar {
    border-right: 0.01rem black solid;
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 10rem;
}

    .title {
        padding: 1rem;
    }

    .nav-ul {
        list-style: none;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }

        .nav-ul li {
            border-top: black solid 0.01rem ;
            padding: 1rem;
        }

        .nav-ul li:last-child {
            border-bottom: black solid 0.01rem ;
        }

        .nav-link {
            text-decoration: none;
            color: black;
        }

        .nav-link:hover {
            text-decoration: underline;
        }

.main-doc {
    padding: 1rem;
    margin-left: 10rem;
    max-width: 40rem;
}

.new-paragraph {
    margin-bottom: 1rem;
}

.within-paragraph {
    margin-bottom: 0.5rem;
}

.within-paragraph2 {
    display: block;
    margin-bottom: 0.5rem;
}

.line-break {
    display: block;
}

.line-break::before {
    display: block;
    margin-bottom: 0.3rem;
    content: "";
}

.number {
    list-style: decimal inside;
    margin-left: 1rem;
}

.list {
    list-style: inside;
    margin-left: 1rem;
}

.scripture {
    display: block;
    flex-direction: column;
    margin-left: 1rem;
    width: 90%;
    background-color: lightgray;
    padding: 1rem;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 0.7rem;
    font-weight: 200;
    font-style: italic;
    text-align: justify;
    line-height: 1.5rem;
}

.scripture::before {
    display: block;
    margin-bottom: 0.3rem;
    content: "";
}

.verse {
    font-style: normal;
}

.bold {
    font-weight: 400;
}

@media only screen and (max-width: 815px) and (orientation: portrait) {
    body {
        max-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .navbar {
        position: relative;
        top:0;
        left: 0;
        height: 20vh;
        width: 100%;
        border: solid 0.2rem black;
    }

    .main-doc {
        margin-left: 0;
        height: 80vh;
        overflow-y: auto;
        overflow-x: hidden;
    }

}